// Variables
$main-bg-color: #130d25;
$main-text-color: #fff;
$main-color: #3b2f61d5;
$secondary-color: #5cb85c;

// Mixins
@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin style-text {
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
    color: white;
}

// Animations
@keyframes animatetop {
    from {opacity: 0}
    to {opacity: 1}
}

// Header
header {
    background-color: #232323;
    color: $main-text-color;
    position: fixed; /* Stick to the top */
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease; /* Smooth resizing transition */
    z-index: 100; /* Ensure it's above other content */
    padding: 5px 0; /* Add some padding to the navbar */
}

/* Adjusts the size and font size when scrolling down */
header.scrolled {
    background-color: $main-bg-color; 
    font-size: 15px;
    padding: 0px 0;
}

#logo {
    max-height: 60px;
    margin: 8px auto 5px 8px;
}

.link-list {
    @include center-element();
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-list li {margin: 0 30px;}

.link-list a {
    @include style-text();
    font-weight: bold;
    text-decoration: none;
    color: $main-text-color;
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.link-list a:hover {
    font-weight: bold;
    color: #c094c9;
}

nav a.active {
    font-weight: bold; /* Style the active link, e.g., make it bold */
    color: $secondary-color;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    overscroll-behavior: none; // No scroll bouncing

    background-image: url('../assets/background.png');
    background-size: contain; 
    background-attachment: fixed;
}

.card {
    text-align: center;
    background-color: $main-color;
    color: #ffffff;
    padding: 50px 0px;     
    margin: 10% auto;
}

.card img {
    width: 200px;
    height: 200px;
    margin: 10px auto; /* Center the image horizontally */
    border-radius: 20%; /* Makes the image look like a circle */
    display: block; /* Remove any default spacing below the image */
    padding: 20px;
}

.card h1 {
    font-size: 32px;
    margin: 20px auto; /* Center the heading horizontally */
    padding: 20px;
}

.card p, a{
    @include style-text();
}

.about-me-columns {
    display: flex;
    justify-content: space-between;
}

.about-me-column {
    flex-basis: calc(30%);
    box-sizing: border-box;
    margin: auto;
}

.about-me-column i {
    padding: 20px 0;
}

.skill-list {
    @include center-element();
    font-size: 15px;
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.skill-list li {
    margin: 0 10px; /* Add space between links */
    padding: 30px 0 10px 0px; /* Remove left padding for the first list item */
}

// Portfolio
#Portfolio h1,  #Hobbies h1{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    color: $main-text-color;
}
  
#portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between buttons */
    padding: 0 20px;
}

#Portfolio i, h2 {
    margin: 5px auto;
    padding: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.7); /* Black with opacity */
}

.modal-button {
    background-color: lightgreen; 
    border-radius: 30px;
    margin: 10% 0;
}

.modal-header {
    padding: 2px 16px;
    padding-bottom: 10px;
    background-color: $secondary-color;
    color: $main-text-color;
}
  
.modal-body {padding: 2px 16px;}

.modal-body  a{
    color: black;
    text-decoration: none;
}
  
.modal-footer {
    padding: 5px 16px;
    background-color: $secondary-color;
    color: $main-text-color;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $main-text-color;
    width: 600px; /* Adjust the maximum width as needed */
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-height: 70vh; /* Set the maximum height to 80% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling for overflowed content */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus, .modal-button:hover {
    color: $main-text-color;
    text-decoration: none;
    cursor: pointer;
}

.modal-button:hover {box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.597);}

// Hobbies
#Hobbies {
    @include center-element();
    padding: 25px 0px;
    flex-direction: column; /* Stack child elements vertically */
    position: relative; /* Create a positioning context for absolute positioning */
}

.prev, .next {
    background-color: #333333af;
    color: white;
    font-size: 24px;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: absolute; /* Position the buttons absolutely */
    top: 50%; /* Vertically align the buttons to the middle */
    transform: translateY(-50%); /* Adjust for vertical alignment */
}

.prev {margin-right: 32%; /* Position the 'prev' button to the left */}
.next { margin-left: 32%; /* Position the 'next' button to the right */}

.carousel {
    display: flex;
    overflow: hidden;
    height: 600px;
}

.hobbie-card {
    @extend .card;
    width: 75%;
    background-color: $secondary-color;
    margin-top: 3%;
    border-radius: 5%;
}

.slide {
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}

.slide img {
    width: 90%;
    height: 300px;
    position:sticky;
    margin: auto auto;
}

// footer styling
#footer {
    background-color: $main-bg-color;
    color: $main-text-color;
    padding: 20px;
}

#footer-copyright {
    padding-top: 15px;
    color:#d1cfcf;
    text-align: center;
}

// Responsiveness
@media (max-width: 1366px) {
    // Adjust styles for 1366x768 resolution
    #portfolio-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; /* Adjust the gap between buttons */
    }
}